/* Pinegrow generated Design Panel Init Begin */
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900|Inter:100,200,300,400,500,600,700,800,900&display=swap');

/* Pinegrow generated Design Panel Init End */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold md:text-5xl lg:text-6xl  tracking-tight;
  }
  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold mb-4 scroll-mt-28;
  }
  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold mb-2 scroll-mt-28;
  }
  h4 {
    @apply text-xl md:text-2xl lg:text-3xl font-semibold mb-2 scroll-mt-28;
  }
  h5 {
    @apply text-base md:text-lg lg:text-xl font-medium mb-2 scroll-mt-28;
  }
  h6 {
    @apply text-sm md:text-base lg:text-lg font-medium mb-2 scroll-mt-28;
  }

  input,
  optgroup,
  select,
  textarea {
    @apply text-black;
  }
}

html {
  scroll-behavior: smooth;
}

.bg-white {
  background-color: hsl(210, 33%, 99%);
}
.navbarDark {
  padding-top: 0.6rem;
  .links {
    a {
      @apply text-white;
      &:hover {
        @apply text-primary-400;
      }
      .outline {
        color: none;
      }
    }
    .router-link-active {
    }
  }
}

#perguntas {
  button {
    & > span:first-child {
      width: 100%;
    }
    & > span:last-child {
      @apply text-tertiary-600;
    }
  }
}

.navmobile-btn {
  button {
    span {
      color: #fff !important;
      transition: 0.3s;
    }
  }
}

h1 {
  @apply text-blue-800;
  font-size: clamp(3.75rem, 6vw, 6rem);
  line-height: 3rem;
  font-weight: 600;
}
h2 {
  @apply text-blue-800;
  font-size: clamp(1.8rem, 7vw, 2.4rem);
  line-height: clamp(2rem, 9vw, 2.9rem);
  font-weight: 600;
  letter-spacing: -0.9px;
}
h3 {
  @apply text-tertiary-500;
  font-size: 1.2rem;
  font-weight: 510;
  letter-spacing: -0.3px;
}
h4 {
  @apply text-indigo-950;
  font-size: 1.16rem;
  font-weight: 400;
  line-height: 1.8rem;
}
h5 {
  @apply text-blue-800;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.8px;
}
h6 {
  @apply text-blue-800;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.35rem;
  letter-spacing: -0.3px;
}
p {
  @apply text-indigo-950;
  font-size: 0.94rem;
  font-weight: 400;
  font-family: Inter, sans-serif;
}
a {
  font-family: Inter, sans-serif;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1180px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1180px;
  }
}

.swiper-pagination {
  bottom: -0.3rem !important;
}

.swiper-pagination-bullet {
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
  border-radius: 1rem !important;
}

.swiper-pagination-bullet-active {
  width: 3rem !important;
  @apply bg-tertiary !important;
}

/* Pinegrow generated Design Panel Extra Rules Begin */

h1,
h2,
h5 {
  @apply font-sans;
}

h3,
h4,
h6 {
  @apply font-serif;
}
body,
html {
  min-height: 100vh;
}

/* Pinegrow generated Design Panel Extra Rules End */
